$fontColor: blue;
$fontSize: 52px;

.title {
  color: $fontColor;
  font-size: $fontSize;
  text-align: center;
}

.active {
    color: red;
}

// element footer
.footer {
  padding: 20px 0 0;
  border-top: 1px solid #eee;
}